:root {
    --color-primary: #0D1A2D;
    --color-secondary: #0A723D;
    --color-secondary-hover: rgb(29, 168, 29);
    --color-accent: #F39C12;
    --color-accent-hover: #D68826;

  }

  * {box-sizing:border-box}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    user-select: none;
}

h1, h2, h3 {
    font-size: 2.4rem;
}

p, a {
    font-size: 1.5rem;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Containers */
.small-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2rem;
}
.big-container {
    max-width: 1920px;
    margin: 0 auto;
}

/* Blocks */
.block {
    margin-top: 8rem;
}

.block--primary {
    background: var(--color-primary);
}

/* Grid */
.grid {
    display: grid;
}
.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* -----------------------------------------------------------edit  */
/* Text headers */
.text-header {
    text-align: center;
    margin: 6rem 0;
    color: var(--color-primary);
}

/* Button */
.btn {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
}

.btn-primary {
    background: var(--color-accent);
    color: var(--color-primary);
    font-weight: bold;
}
.btn-primary:hover {
    background: var(--color-accent-hover);
}

/* Nav menu */
.menu {
    position: fixed;
    width: 100%;
    z-index: 10;

}
.nav-menu {
    background: rgba(255, 0, 0, 0);
}

.nav-menu img {
    max-width:200px;
}
.nav-menu__items {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu__links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.5s ease;
}

.nav-scrolled {
    background: #fff;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.nav-scrolled a {
    color: var(--color-primary);
}

/* Slider */
.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slider-page {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}
.slider-shadow{
    /* background-image: linear-gradient(150deg, rgba(7, 10, 29, 0.541) 30%, rgba(204, 211, 202, 0) 70%); */
    /* background: var(--color-primary); */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slider-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Slider Buttons */
.btn-prev, .btn-next {
    top: 45vh;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
}
.btn-prev{
    left: 0;
    padding-left: 2rem;
}
.btn-next {
    right: 0;
    padding-right: 2rem;
}
/* The dots/bullets/indicators */
.slider-dots {
    bottom: 0;
    left: 50vw;
    position: absolute;
    z-index: 4;
    padding-bottom: 2rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(212, 211, 211);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Cards */
.cards-group {
    grid-gap: 5px;
}
.card-link {
    min-height: 25rem;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    position: relative;
    text-align: center;
}
.card-link img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 30, 31, 0.459);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.card-text:hover{
    background-color: rgba(22, 87, 22, 0.671);
    transition: 0.1s ease-in;
}

/* jumbotron box */
.jumbotrom {
    height: 250px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}
.jumbotrom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.jumbotrom-content {
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    color: #fff;
    position: absolute;
    background: rgba(21, 22, 24, 0.671);
}
.jumbotrom-content p {
    max-width: 70ch;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.3;
}

/* Ventajas de estudiar en UTMZ */
.facts {
    justify-items: center;
}
.fact {
    width: 80%;
    text-align: center;
    padding: 1rem;
}
.fact p {
    font-weight: bold;
    color: var(--color-primary);
}

/* Brands section */
.logos-group {
    gap: 5px;
}
.logo-container {
    text-align: center;
    color: gray;
    overflow: hidden;
}
.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    opacity: 0.5;
    cursor: pointer;
}
.logo-text {
    transform: translateY(2rem);
}
.logo-text a{
    text-decoration: none;
    color: var(--color-secondary-hover);
    opacity: 0;
}
.logo-container:hover .logo-text{
    transform: translateY(-2rem);
    transition: 0.3s ease-in;
}
.logo-container:hover .logo-text a{
    opacity: 1;
}
.logo-container:hover p{
    transition: 0.3s ease-in;
    opacity: 0;
}
.logo-container:hover img{
    transition: 0.3s ease-in;
    opacity: 1;
}

/* LincesCloud section */
.linces-cloud {
    position: relative;
    overflow: hidden;
    height: 350px;
}
.linces-cloud__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.linces-cloud__header {
    display: flex;
}
.linces-cloud__header h2 {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}
.linces-cloud__header img {
    display: inline;
    width: 70px;
    object-fit: contain;
    margin: 0 2rem 0 0;
    padding: 0;
}
.linces-cloud__content p {
    padding: 2rem 0;
}
.linces-cloud__background-image {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
}

/* Ultimas Noticias */
.swiper {
    width: 100%;
    height: 450px;
    padding: 0 2rem 4rem 2rem;
}
.news {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    user-select: none;
    
}
.news-head {
    background: gray;
    height: 200px;
    overflow: hidden;
}
.news-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-body {
    height: 200px;
    padding: 1.5rem;
    overflow: hidden;
}
.news-body h4 {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
}
.news-body a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-accent-hover);
    margin: 0;
}
.news-body a::after {
    content: "\226B";
    padding-left: 0.5rem;
}
.news-body a:hover {
    color: var(--color-accent);
    transition: all .4s cubic-bezier(0.19,1,0.22,1);
}
.news-body a:hover::after {
    display: inline-block;
    padding-left: 1.5rem;
    transition: all .4s cubic-bezier(0.19,1,0.22,1);
}

/* Footer */
.footer {
    background: #e6e6e7;
    padding: 4rem 0 2rem 0;
}
.footer__container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4fr 1fr;
}
/* footer logos y redes sociales */
.footer__socialmedia {
    grid-column: 1;
    grid-row: 1 / span 4;
    max-width: 200px;
    padding-right: 2rem;
}
.footer-logo-utmz{
    max-width: 250px;
}
.redes-sociales{
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}
.redes-sociales img{
    max-width: 2.5rem;
}
/* footer_links */
.footer__links {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links__collapsible {
    padding-right: 3rem;
    height: auto;
}
.links__collapsible a {
    text-decoration: none;
    color: gray;
}
.links__collapsible p {
    font-weight: bold;
    color: var(--color-secondary);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.links__collapsible p::after {
    display: none;
    content: "\003e";
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
    background: lightgray;
    padding: 3px 8px;
    border-radius: 20px;
    margin-left: 1rem;
}

.links__collapsible ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}
.links__collapsible li{
    padding-bottom: 0.5rem;
}
.links__collapsible a:hover{
    color: var(--color-secondary-hover);
}
/* footer__Copyright */
.footer__Copyright {
    grid-column: 2;
    grid-row: 4;
    text-align: start;
}
.footer__Copyright a{
    text-decoration: none;
    color: gray;
    padding-right: 2rem;
}




@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .block {
        margin-top: 2rem;
    }
    .text-header {
        margin: 4rem 0;
    }
    /* nav menu */
    .nav-menu__links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0;
        background: var(--color-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-menu__links a{
        opacity: 0;
    }
    .burger {
        display: block;
    }
    /* oferta educativa */
    .grid--1x3 {
        grid-template-columns: repeat(1,1fr);
    }
    .card-link {
        min-height: 20rem;
    }
    .jumbotrom {
        height: 350px;
    }
    /* ventajas */
    .grid--2x3 {
        grid-template-columns: repeat(2,1fr);
    }
    /* Certificaciones */
    .grid--1x5 {
        grid-template-columns: repeat(2, 1fr);
    }
    .last-logo {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    .logo-container {
        padding: 2rem;
    }
    .logo-text p {
        padding: 1.5rem 0 0 0;
        margin: 0;
    }
    /* LincesCloud */
    .linces-cloud__background-image {
        display: none;
    }
    .linces-cloud__content {
        align-items: center;
        text-align: center;
    }


    /* news */


    /* footer */
    .footer__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .footer__links {
        grid-column: 1;
        grid-row: 1;
        flex-direction: column;
    }
    .links__collapsible {
        border-bottom: 1px solid gray;
        margin-bottom: 1rem;
        padding: 0;
        height: 50px;
        overflow: hidden;
    }
    .links__collapsible a {
        opacity: 0;
    }
    .links__collapsible p::after {
        display: block;
    }
    .links__collapsible-active {
        height: auto;
    }
    .links__collapsible-active p::after {
        transform: rotate(90deg);
        transition: 0.3s all ease-in;
    }
    .links__collapsible-active a {
        opacity: 1;
        transition: 0.3s all ease-in;
    }

    .footer__socialmedia {
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
        text-align: center;
        padding: 4rem 0;
    }
    .footer__Copyright {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        max-height: 100px;
    }
    .footer__Copyright span{
        display: block;
        padding-top: 1rem;
    }
}

/* Nav animations */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line_2 {
    opacity: 0;
}
.toggle .line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}