<section class="block">
    <div class="container">
        <h2 class="text-header">Oferta Academica</h2>

        <div class="grid grid--1x3 cards-group">
            <a href="" class="card-link img-1">
                <div class="card-text">
                    <h1>Tecnico Superior</h1>
                </div>
            </a>
            <a href="" class="card-link img-2">
                <div class="card-text">
                    <h1>Ingenierias</h1>
                </div>
            </a>
            <a href="" class="card-link img-3">
                <div class="card-text">
                    <h1>Licenciaturas</h1>
                </div>
            </a>
        </div>

        <div class="jumbotrom img-4">
            <div class="jumbotrom-layer">
                <div class="jumbotrom-content">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero aut atque animi facere est provident sit distinctio, hic voluptatem dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex veniam non dolore sunt quod animi recusandae tenetur explicabo soluta dignissimos?</p>
                    <a href="#" class="btn btn-primary">Conocer más</a> 
                </div>
            </div>
        </div>
    </div>
</section>