<section class="block block--primary">
    <div class="container grid grid--1x3 counter-section">
        <div class="counter-card">
            <img src="images/icono_profesor.svg" alt="">
            <span class="counter-number" data-target="32" data-counter="0">0</span>
            <p>Profesores y administrativos</p>
        </div>
        <div class="counter-card">
            <img src="images/icono_matricula.svg" alt="">
            <span class="counter-number" data-target="1465" data-counter="0">0</span>
            <p>Alumnos inscritos</p>
        </div>
        <div class="counter-card">
            <img src="images/icono_trabajo.svg" alt="">
            <span class="counter-number" data-target="15" data-counter="0">0</span>
            <p>Convenios con empresas</p>
        </div>
    </div>
</section>