<section class="block">
    <div class="container">
        <h2 class="text-header">Certificaciones y Reconocimientos</h2>
        
        <div class="grid grid--1x5 logos-goup">
            <div class="logo-container">
                <img src="images/logo_iso.webp" alt="">
                <div class="logo-text">
                    <p>ISO 9001-2015</p>
                    <a href="">Conoce Más</a>
                </div>
            </div>
            <div class="logo-container">
                <img src="images/logo_iso_14001_2015.webp" alt="">
                <div class="logo-text">
                    <p>ISO 14001-2015</p>
                    <a href="">Conoce Más</a>
                </div>
            </div>
            <div class="logo-container">
                <img src="images/logo_norma.webp" alt="">
                <div class="logo-text">
                    <p>NMX-R-025-SCFI-2015</p>
                    <a href="">Conoce Más</a>
                </div>
            </div>
            <div class="logo-container">
                <img src="images/logo_cacei.webp" alt="">
                <div class="logo-text">
                    <p>Acreditación de CACEI</p>
                    <a href="">Conoce Más</a>
                </div>
            </div>
            <div class="logo-container">
                <img src="images/logo_tierra.png" alt="">
                <div class="logo-text">
                    <p>Concurso escuelas por la tierra</p>
                    <a href="">Conoce Más</a>
                </div>
            </div>
        </div>
    </div>
</section>