:root {
    --color-primary: #0D1A2D;
    --color-secondary: #0A723D;
    --color-secondary-hover: rgb(29, 168, 29);
    --color-accent: #F39C12;
    --color-accent-hover: #D68826;

  }

  * {box-sizing:border-box}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2, h3 {
    font-size: 2.4rem;
}

p, a {
    font-size: 1.5rem;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Containers */
.small-container {
    max-width: 1140px;
    margin: 0 auto;
}
.big-container {
    max-width: 1920px;
    margin: 0 auto;
}

/* Blocks */
.block {
    margin-top: 6rem;
}

.block--primary {
    background: var(--color-primary);
}

/* Grid */
.grid {
    display: grid;
}
.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* -----------------------------------------------------------edit  */
/* Text headers */
.text-header {
    text-align: center;
    margin: 8rem 0 6rem 0;
    color: var(--color-primary);
}

/* Button */
.btn {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
}

.btn-primary {
    background: var(--color-accent);
    color: var(--color-primary);
    font-weight: bold;
}
.btn-primary:hover {
    background: var(--color-accent-hover);
}

/* Nav menu */
.menu {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-menu {
    background: rgba(255, 0, 0, 0);
}

.nav-menu img {
    max-width:200px;
}

.nav-menu-items {
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem;
}

/* Slider */
.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slider-page {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}
.slider-shadow{
    /* background-image: linear-gradient(150deg, rgba(7, 10, 29, 0.541) 30%, rgba(204, 211, 202, 0) 70%); */
    /* background: var(--color-primary); */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slider-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Slider Buttons */
.btn-prev, .btn-next {
    top: 45vh;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
}
.btn-prev{
    left: 0;
    padding-left: 2rem;
}
.btn-next {
    right: 0;
    padding-right: 2rem;
}
/* The dots/bullets/indicators */
.slider-dots {
    bottom: 0;
    left: 50vw;
    position: absolute;
    z-index: 4;
    padding-bottom: 2rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(212, 211, 211);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Cards */
.cards-group {
    grid-gap: 5px;
}

.card-link {
    min-height: 25rem;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.671);
    width: 100%;
    height: 100%;
}

.card-text:hover{
    background-color: rgba(27, 82, 45, 0.74);
}

.img-1{
    background-image: url(../images/tsu.webp);
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url(../images/ingenierias.webp);
    background-size: cover;
    background-position: center;
}

.img-3{
    background-image: url(../images/licenciaturas.webp);
    background-size: cover;
    background-position: center;
}



/* jumbotron box */
.jumbotrom {
    height: 25rem;
}

.jumbotrom-layer {
    background-color: rgba(24, 26, 24, 0.829);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.jumbotrom-content {
    max-width: 80%;
    margin: 0 auto;
    color: #fff;
}

.img-4 {
    background-image: url(../images/por_que_utmz.webp);
    background-size: cover;
    background-position: center;
}

/* Ventajas de estudiar en UTMZ */
.facts {
    justify-items: center;
    background: chartreuse;
}
.tio {
    background: #00d9ff;
    border: 2px solid red;
    width: 80%;
    text-align: center;
    padding: 1rem;
}



/* Brands section */
.logos-group {
    gap: 5px;
}
.logo-container {
    text-align: center;
    color: gray;
    overflow: hidden;
}
.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    opacity: 0.5;
    cursor: pointer;
}
.logo-text {
    transform: translateY(2rem);
}
.logo-text a{
    text-decoration: none;
    color: var(--color-secondary-hover);
}
.logo-container:hover .logo-text{
    transform: translateY(-2rem);
    transition: 0.3s ease-in;
}
.logo-container:hover p{
    transition: 0.3s ease-in;
    opacity: 0;
}
.logo-container:hover img{
    transition: 0.3s ease-in;
    opacity: 1;
}

/* counter section */
.counter-section {
    min-height: 12rem;
    padding: 2rem;
}

.counter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.counter-card img {
    width: 70px;
}

.counter-number {
    padding-top: 1rem;
    font-size: 5rem;
    font-weight: 700;
}

.counter-card p {
    text-align: center;
}

/* LincesCloud section */
.linces-cloud {
    position: relative;
    overflow: hidden;
    height: 350px;
}
.linces-cloud__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.linces-cloud__header {
    display: flex;
}
.linces-cloud__header h2 {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}
.linces-cloud__header img {
    display: inline;
    width: 70px;
    object-fit: contain;
    margin: 0 2rem 0 0;
    padding: 0;
}
.linces-cloud__content p {
    padding: 2rem 0;
}
.linces-cloud__background-image {
    position: absolute;
    max-width: 50%;
    top: 0;
    right: 0;
}

/* Ultimas Noticias */
.news-section {
    position: relative;
    padding: 0 4rem;
    justify-items: center;
}
.news-prev {
    top: 120px;
    left: 0;
    font-size: 3rem;
    position: absolute;
    color: #000;
    text-decoration: none;
}
.news-next {
    top: 120px;
    right: 0;
    font-size: 3rem;
    position: absolute;
    color: #000;
    text-decoration: none;
}
.card-news {
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.card-news-head {
    background: rgb(80, 47, 47);
    height: 200px;
    overflow: hidden;
}
.card-news-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-news-body {
    height: 150px;
    padding: 1.5rem;
    overflow: hidden;
}
.card-news-body h4 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(61, 58, 58);
    margin: 0;
}
.card-news-body a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-secondary);
    margin: 0;
}

.card-news-body a::after {
    content: "\226B";
    padding-left: 0.5rem;
}

.card-news-body a:hover {
    color: var(--color-secondary-hover);
    transition: all .4s cubic-bezier(0.19,1,0.22,1);
}

.card-news-body a:hover::after {
    display: inline-block;
    padding-left: 1.5rem;
    transition: all .4s cubic-bezier(0.19,1,0.22,1);
}

/* Footer */
.footer {
    background: #e6e6e7;
    padding: 4rem 0 2rem 0;
}
.footer__container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4fr 1fr;
}
/* footer logos y redes sociales */
.footer__socialmedia {
    grid-column: 1;
    grid-row: 1 / span 4;
    padding-bottom: 10rem;
}
.footer-logo-utmz{
    max-width: 250px;
}
.redes-sociales{
    margin: 2.5rem 0;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}
.redes-sociales img{
    max-width: 2.5rem;
}
/* footer_links */
.footer__links {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links__collapsible {
    padding-right: 3rem;
}
.links__collapsible a {
    text-decoration: none;
    color: gray;
}
.links__collapsible > a:first-of-type {
    font-weight: bold;
    color: var(--color-secondary);
}
.links__collapsible ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}
.links__collapsible li{
    padding-bottom: 0.5rem;
}
.links__collapsible a:hover{
    color: var(--color-secondary-hover);
}
/* footer__Copyright */
.footer__Copyright {
    grid-column: 2;
    grid-row: 4;
    text-align: start;
}
.footer__Copyright a{
    text-decoration: none;
    color: gray;
    padding-right: 2rem;
}