:root {
    --color-primary: #06a814;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
  }  


html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2, h3 {
    font-size: 2.4rem;
}

p, a {
    font-size: 1.5rem;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Containers */
.small-container {
    max-width: 1140px;
    margin: 0 auto;
}
.big-container {
    max-width: 1920px;
    margin: 0 auto;
}

/* Blocks */
.block {
    margin-top: 6rem;
}

.block--primary {
    background: var(--color-primary);
}

.block--dark {
    background: rgb(11, 11, 119);
}

/* Grid */
.grid {
    display: grid;
}

.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
}

/* -----------------------------------------------------------edit  */
/* Text headers */
.text-header {
    text-align: center;
    margin: 8rem 0 6rem 0;
}

/* Button */
.btn {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
}

.btn-primary {
    background: darkgreen;
    color: #fff;
}

/* Nav menu */
.menu {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-menu {
    background: rgba(255, 0, 0, 0);
}

.nav-menu-items {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem;
}

/* Slider */
.hero-slider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.slider-page {
    /* display: none; */
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}
.slider-shadow{
    background-image: linear-gradient(to right, rgba(31, 32, 30, 0.541) 30%, rgba(138, 130, 130, 0) 70%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slider-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Slider Buttons */
.btn-prev, .btn-next {
    top: 45vh;
    position: absolute;
    z-index: 4;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
}
.btn-prev{
    left: 0;
    padding-left: 2rem;
}
.btn-next {
    right: 0;
    padding-right: 2rem;
}
/* The dots/bullets/indicators */
.slider-dots {
    bottom: 0;
    left: 50vw;
    position: absolute;
    z-index: 4;
    padding-bottom: 2rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(212, 211, 211);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
} 
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}
.slider-shadow {
    background: rgba(119, 128, 111, 0.336);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-image: linear-gradient(to right, rgba(31, 32, 30, 0.541) 30%, rgba(138, 130, 130, 0) 70%);
}

.slider-btn-back {
    top: 45vh;
    left: 0;
    position: absolute;
    width: 40px;
    padding-left: 1rem;
}

.slider-btn-next {
    top: 40vh;
    right: 0;
    position: absolute;
    width: 45px;
    padding-right: 1rem;
}

.slider-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
.slider-content__text {
    color: white;
    max-width: 40%;
}

.slider-content__text h1 {
    color: white;
    font-size: 4rem;
} */



/* Cards */
.cards-group {
    grid-gap: 5px;
}

.card-link {
    min-height: 25rem;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.671);
    width: 100%;
    height: 100%;
}

.card-text:hover{
    background-color: rgba(27, 82, 45, 0.74);
}

.img-1{
    background-image: url(../images/tsu.webp);
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url(../images/ingenierias.webp);
    background-size: cover;
    background-position: center;
}

.img-3{
    background-image: url(../images/licenciaturas.webp);
    background-size: cover;
    background-position: center;
}



/* jumbotron box */
.jumbotrom {
    height: 25rem;
}

.jumbotrom-layer {
    background-color: rgba(24, 26, 24, 0.829);
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.jumbotrom-content {
    max-width: 80%;
    margin: 0 auto;
    color: #fff;
}

.img-4 {
    background-image: url(../images/por_que_utmz.webp);
    background-size: cover;
    background-position: center;
}

/* Brands section */
.logos-group {
    gap: 5px;
}

.logo-container {
    text-align: center;
    color: gray;
    overflow: hidden;
}

.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    opacity: 0.5;
    cursor: pointer;
}

.logo-text {
    transform: translateY(2rem);
}

.logo-text a{
    text-decoration: none;
    color: rgb(29, 168, 29);
}

.logo-container:hover .logo-text{
    transform: translateY(-2rem);
    transition: 0.3s ease-in;
}

.logo-container:hover p{
    transition: 0.3s ease-in;
    opacity: 0;
}

.logo-container:hover img{
    transition: 0.3s ease-in;
    opacity: 1;
}

/* counter section */
.counter-section {
    min-height: 12rem;
    padding: 2rem;
}

.counter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.counter-card img {
    width: 70px;
}

.counter-number {
    padding-top: 1rem;
    font-size: 5rem;
    font-weight: 700;
}

.counter-card p {
    text-align: center;
}


